body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

h2 {
    text-align: center;
    font-weight: bolder;
}

h4 {
    padding-left: 20px;
}

.header-text {
    padding: 15px;
}

.header-logo {
    font-weight: bold;
}

.catchphrase {
    margin: 15px;
}

#prof_display {
    text-align: center;
    width: 100%;
}

#login-form {
    width: 70vw;
    padding: 3%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}