body {
    margin: 0;
    font-family: sans-serif;
}

.header-text {
    padding: 15px;
}

.header-logo {
    font-weight: bold;
    margin: 0;
}

.header-items {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.menu-items {
    list-style: none;
    display: inline-block;
    padding: 0;
    margin: 0;
}

.menu-items li {
    display: inline-block;
    margin-left: 2vw;
}

.catchphrase {
    margin: 15px;
}

.content-wrapper, .header-items {
    padding: 5px 15px 5px 15px;
}

#top-heading {
    background-color: #eee;
    padding: 5px;
}