{% extends "base.html" %}

{% block content %}
    <table class="table">
        <thead>
            <tr class="table-dark">
                <th>Цвет стен</th>
                <th>Эмблема</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td height="500" width="50%" style="background-color: {{ wall_color }} !important;"></td>
                <td width="50%" height="500"><img src="{{ img }}" alt="Эмблема" height="100%" /></td>
            </tr>
        </tbody>
    </table>

{% endblock %}
